.hamburger__lines {
    display: none;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 18px;
    right: 15px;
    z-index: 2;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width:768px) {
        display: flex;
    }


    .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #0e2431;
    }

    .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    &.lines__rotate {
        .line1 {
            transform: rotate(45deg);
        }

        .line2 {
            transform: scaleY(0);
        }

        .line3 {
            transform: rotate(-45deg);
        }
    }
}

.burger__menu {
    display: flex;
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: calc(100vh - 61px);
    transition: transform .5s ease-in-out;
    transform: translateX(-150%);
    flex-direction: column;
    justify-content: center;
    background-color: #363A4D;
    opacity: .9;

    a {
        color: #FFF;
        text-align: center;
        font-size: 24px;
        line-height: 2.22;

        &:hover {
            color: #979595;
        }
    }

    &.menu__open {
        transition: transform .5s ease-in-out;
        transform: translateX(0%);
    }


    // animation: fadeOutFromBlock 0.5s ease-in-out;
    // animation-fill-mode: forwards;


    // @keyframes fadeOutFromBlock {
    //     0% {
    //         transform: translateX(0%);

    //     }

    //     100% {
    //         transform: translateX(-150%);
    //     }
    // }
}



// .menu__rel {
//     position: relative;
// }