.contacts__info {
    .contacts__info--wrapper {
        display: flex;
        justify-content: space-between;
        padding: 2% 0 3%;
    }

    .contacts__info--main {
        display: flex;
        flex-basis: 60%;
        justify-content: space-between;
    }

    .contact__tel {
        color: $black;
        font-size: clamp(1.06rem, 0.992rem + 0.34vw, 1.4rem);
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        text-transform: uppercase;
    }

    p {

        font-weight: 400;
        font-size: 1.0667rem;
        line-height: 150%;
        color: $contP;
    }

    .contact__mail {
        color: $black;
        font-size: clamp(1.06rem, 0.992rem + 0.34vw, 1.4rem);
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        text-transform: uppercase;
    }

    span {

        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: $black;
    }

    .contacts__info--social {
        display: flex;
        .contacts__info--border {
            width: 1px;
            height: 154px;
            background-color: $border;
        }
        .social__ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

    }
    .contacts__info--item {

    }
}
.mb2 {
    margin-bottom: 2rem;
}
.mr2 {
    margin-right: 2rem;
}
.mr7 {
    margin-right: 7rem;
}
.pInline {
    display: inline;
}
.ml2 {
    margin-left: 2rem;
}
.df {
    display: flex;
}
.db {
    display: block;
}