.price__black {
    background-color: $Applications;
    padding: 7% 0;

    .border {
        margin-bottom: 2.1333rem;
    }

    .price__inner {
        display: flex;
        gap: 2rem;

        @media (max-width:1300px) {
            flex-wrap: wrap;
        }

        .price__inner--item1 {

            h3 {
                color: $white;
                font-size: clamp(0.8rem, 0.68rem + 0.6vw, 1.4rem);
                font-weight: 600;
                line-height: 1.5;
                text-transform: uppercase;
                margin-bottom: 1.6667rem;
            }

            p {
                color: $grayText;
                font-size: clamp(0.7rem, 0.6rem + 0.5vw, 1.2rem);
                font-weight: 400;
                line-height: 1.5;
                margin-bottom: 4%;
            }

            .about__border {
                height: 7rem;
            }

            .about__info--item {
                margin-bottom: 3%;
            }
        }

    }

    .price__inner--item2 {
        width: 816px;
        height: 480px;
        flex-shrink: 0;

        @media (max-width:1300px) {
            margin: 0 auto;
            height: 480px;
            width: auto;
            flex-shrink: 1;
        }

        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin-bottom: 1rem;
        }

        .price__inner--little {
            display: flex;
            gap: 1rem;

            img {
                width: 33.333%;
                object-fit: cover;

                @media (max-width:1300px) {
                    height: 100px;
                }
            }
        }
    }

    .about__info {
        display: flex;
        justify-content: center;

        .about__border {
            background-color: $border;
            width: .0667rem;
            height: 9rem;
            margin: 0 2.2%;
        }

        .about__info--item {
            flex-basis: 35%;
            padding: 0 1.5% 2%;

            h2 {
                color: $white;
                font-size: 2.4rem;
                font-style: normal;
                font-weight: 600;
                line-height: 150%;
                text-transform: uppercase;
                margin-bottom: .4667rem;

            }
        }
    }

    h4 {
        color: $white;
        font-size: clamp(0.8rem, 0.68rem + 0.6vw, 1.4rem);
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: .6667rem;
    }

    .btn__container {
        display: flex;
        gap: 2rem;

        .btn {
            padding: 0.4333em 2.1em;

            @media (max-width:500px) {
                font-size: .9rem;
            }

            @media (max-width:385px) {
                font-size: .7rem;
            }
        }
    }
}