.tabs {
    padding: 7% 0;
    background-color: $bg;

    .border {
        margin: 0 0 26px;
    }

    .about__company--title {
        margin: 0 0 3%;
    }

    .inner__block {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 2rem;
        margin: 0 auto;
        // max-width: 80rem;
        padding: 0 2.2667rem 0 0;

        .tabs__container {
            width: 35.6rem;
        }
    }

    .block:not(:last-child) {
        margin-bottom: 1.0667rem;

    }

    .block {
        // min-width: 47.7333rem;
    }

    .block__title {
        border-top: 1px $border solid;
        cursor: pointer;
        color: $black;
        font-family: "proxima-nova-bold";
        font-size: 1.2rem;
        line-height: 1.2;
        position: relative;
        padding: 1.4rem 2.2667rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            color: $border;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.3;
            margin-right: 15px;

        }

    }



    .arrow__tabs--cirkle {
        width: 1.8rem;
        height: 1.8rem;
        fill: $black;
        transition: transform .3s ease-in-out;
    }

    .block__title.active svg {
        transform: rotate(-90deg);
        fill: rgb(198, 77, 77);
    }

    .block__title.active {
        border-bottom: 0;
    }

    .active--bg {
        background-color: $bg;
        color: black;

    }


    .block__text {
        display: none;
        color: black;
        background-color: $bg;
        padding: 0 50px 20px 30px;
    }

    .border--tabs {
        height: 1px;
        width: 100%;
        background-color: $border;
        box-shadow: none;
    }
}